.sidebar{
    min-height:100vh ;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(243, 234, 239);
    padding: 25px 20px;
    
    
}

.sidebar img{
    width: 20px;
}
.sidebar .menu{
    display: block;
    margin-left: 10px;
    cursor: pointer;
}
.sidebar .new-chat{
    display: inline-flex;
    align-items: center;
    margin-top: 50px;
    padding: 10px 15px;
    gap: 10px;
    background-color: #f4f5f7;
    border-radius: 50px;
    font-size: 14px;
    color: grey;
    cursor: pointer;

}
.sidebar .recent{
    display: flex;
    flex-direction: column;

}
.sidebar .recent-title{
    margin-top: 30px;
    margin-bottom: 20px;
    
}
.sidebar .recent-entry{
   display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    cursor: pointer;
    color: rgb(5, 5, 5);    
}

.sidebar .recent-entry:hover{
    background-color: #f4f5f7;
}

.sidebar .botton{
   display: flex;
   flex-direction: column;
}

.sidebar .botton-item{
   padding-right: 10px;
   cursor: pointer;
}